<!DOCTYPE HTML>
<html>
<head>
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="index, follow">
<style type="text/css">
<!--
footer {
    font-size:small;
}
-->
</style>
</head>

<body>

{{ content }}

<hr>

<footer>
<p>
Copyleft &copy; 2014 <a href="mailto:porneiaATfreeDOTfr">Porneia delights</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/porneia/porneia.github.io/blob/master/{{ page.path }}">{{ page.path }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;Publié sous la <a href="http://creativecommons.org/publicdomain/zero/1.0/legalcode.fr">licence CC0</a>
</footer>

</body>
</html>
