<!DOCTYPE HTML>
<html>
<head>
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
<!--
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }
.petit { font-size: small; }
-->
</style>
</head>

<body>
<h1>{{ site.title }}</h1>
{{ content }}
<footer class="petit">
Copyleft &copy; 2014 <a href="{{ site.mail }}">Porneia delights</a> &mdash; <a href="http://porneia.github.io">porneia.github.io</a>
</footer>
</body>
</html>
